<h1>All Publishers (<%= @publishers.count %>)</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Reference</th>
    <th>Albums</th>
  </tr>

<% @publisherssorted.each do |publisher| %>
  <% @albums = publisher.albums %>
  <tr>
    <td><%= link_to publisher.name, publisher_path(publisher) %></td>
    <td><%= publisher.reference %></td>
    <td><% @albums.each do |each| %>
		  <%= link_to each.name, album_path(each) %></br>
		<% end %>
  </tr>
<% end %>
</table>

<br />
